#include <windows.h>

IDI_ICON1   ICON   DISCARDABLE   "images/deling.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION			DELING_VERSION_MAJOR,DELING_VERSION_MINOR,DELING_VERSION_PATCH,DELING_VERSION_TWEAK
    PRODUCTVERSION		DELING_VERSION_MAJOR,DELING_VERSION_MINOR,DELING_VERSION_PATCH,DELING_VERSION_TWEAK
    FILEOS				VOS_UNKNOWN
    FILETYPE			VFT_APP
    FILESUBTYPE			VFT2_UNKNOWN
    FILEFLAGSMASK		0x00000000
    FILEFLAGS			0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName",        DELING_COMPANY
            VALUE "FileDescription",    DELING_DESCRIPTION
            VALUE "ProductName",        DELING_NAME
            VALUE "FileVersion",        DELING_VERSION
            VALUE "ProductVersion",     DELING_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40C, 1252
    END
END
