Source: deling
Section: games
Priority: extra
Maintainer: Chris Rizzitello <sithlord48@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),libgl1-mesa-dev, libglu1-mesa-dev, libqt4-dev,libqt4-opengl-dev,freeglut3-dev,qt4-qmake,cdbs,zlib1g-dev
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/deling/
#Vcs-Git: git://git.debian.org/collab-maint/deling.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/deling.git;a=summary

Package: deling
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FF8 Field Archive Editor 
 Edit Final Fantasy VIII Field Archives.
